{% extends 'base.html.twig' %}

{% block title %}Phweep index{% endblock %}

{% block body %}
    <h1>Phweep index</h1>

    <div class="card-columns">
        {% for phweep in phweeps %}
        <div class="card bg-primary text-white text-center">
            <div class="card-body">
                <h5 class="card-title">{{ phweep.id }}</h5>
                <p class="card-text">{{ phweep.message }}</p>
                <p class="card-text">
                    <small class="text-muted">
                        <a class="text-warning" href="{{ path('phweep_show', {'id': phweep.id}) }}">show</a>
                        <a class="text-warning" href="{{ path('phweep_edit', {'id': phweep.id}) }}">edit</a>
                    </small>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>

    <a href="{{ path('phweep_new') }}">Create new</a>
{% endblock %}
